@model CEO_Dashboard.Models.PayorMixTablesModels.MasterDetails
@{
    ViewBag.Title = "PayorMixReport";
    Layout = "~/Views/Shared/_Layout1.cshtml";

    DateTime date = DateTime.Now;
    var datelabel = DateTime.Parse(Model.EndTime);
    var firstDayOfMonth = new DateTime(datelabel.Year, datelabel.Month, 1);
    var firstDateOfLastMonth = new DateTime(datelabel.Year, datelabel.AddMonths(-1).Month, 1);
}
@if (ViewBag.Error != null)
{
    <h6><label style="color:red">@ViewBag.Error</label></h6>
}

<div class="col-sm-12">
   

    @using (Html.BeginForm("PayorMixReport", "Reports", FormMethod.Post, new { @class = "card-box" }))
    {

        <div class="form-group">

            <div class="col-sm-4">
                @Html.LabelFor(m => m.FacilityIds, new { @class = "col-sm-12" })
                @Html.ListBoxFor(m => m.FacilityIds, Model.Facility, new { @class = "listbox form-control input-sm col-sm-3" })
            </div>
            @*<div class="col-sm-3">
                @Html.LabelFor(m => m.StartTime, new { @class = "col-sm-3" })
                @Html.TextBoxFor(m => m.StartTime, new { @class = "datepicker form-control input-sm col-sm-3", @id = "start" })
              
            </div>*@
            <div class="col-sm-3">
                @Html.LabelFor(m => m.EndTime, new { @class = "col-sm-3" })
                @Html.TextBoxFor(m => m.EndTime, new { @class = "datepicker form-control input-sm col-sm-3", @id = "end" })
                @*<span class="input-group-addon bg-custom b-0 text-white"><i class="icon-calender"></i></span>*@
            </div>

            <br />

            <button type="submit" class="btn btn-default waves-effect waves-light btn-sm">
                Filter
            </button>

        </div>
    }
    </div>
    <div class="col-sm-12">

        <div class="card-box">

            <fieldset>
                @*<legend>Day Wise Revenue and Volume (Invoice Base)</legend>*@
                <legend>Day Wise Revenue and Volume (Running Income)</legend>
                <div class="row">
                    <fieldset>
                        <legend style="font-size:medium;text-align:center">Current Month(@String.Format("{0:D}", datelabel.AddDays(0)))</legend>
                        @*@Html.ActionLink("Download Report", "PayorMixReportExcel", "Reports")*@
                        <div class="col-lg-6">
                            <h4 class="m-t-0 header-title" style="text-align:center"><b>IPD</b></h4>
                            <div class="p-20">
                                <table class="table table-striped m-0">

                                    <thead>
                                        <tr>
                                            <th>Channel</th>
                                            <th>Pt. Count</th>
                                            <th>Revenue(M) </th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Total</th>
                                            <th>@ViewBag.payorCountIPD </th>
                                            <th>@ViewBag.revSumIPD </th>

                                        </tr>
                                    </tfoot>

                                    <tbody>
                                        @{
                                            //To make unique Id
                                            int i = 0;
                                            foreach (var item in Model.PayorReportIPD)
                                            {

                                        <tr>
                                            <td scope="row">@item.PayorNameIPD</td>
                                            <td>@item.PayorCountIPD</td>
                                            <td>@item.RevenueIPD</td>
                                            @*<td>@item.Revenue</td>*@
                                        </tr>
                                                i++;
                                            }
                                        }
                                    </tbody>

                                </table>
                            </div>

                        </div>

                        <div class="col-lg-6">
                            <h4 class="m-t-0 header-title" style="text-align:center"><b>OPD</b></h4>
                            <div class="p-20">
                                <table class="table table-striped m-0">
                                    <thead>
                                        <tr>
                                            <th>Channel</th>
                                            <th>Pt. Count</th>
                                            <th>Revenue(M) </th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Total</th>
                                            <th>@ViewBag.payorCountOPD </th>
                                            <th>@ViewBag.revSumOPD </th>

                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @{
                                            //To make unique Id
                                            int j = 0;
                                            foreach (var item in Model.PayorReportOPD)
                                            {

                                        <tr>
                                            <td scope="row">@item.PayorNameOPD</td>
                                            <td>@item.PayorCountOPD</td>
                                            <td>@item.RevenueOPD</td>
                                            @*<td>@item.Revenue</td>*@
                                        </tr>
                                                j++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </fieldset>
                </div>

                <div class="row">

                    <fieldset>
                        <legend style="font-size:medium;text-align:center">Previous Month(@String.Format("{0:D}", datelabel.AddMonths(-1)))</legend>
                        <div class="col-lg-6">
                            <h4 class="m-t-0 header-title" style="text-align:center"><b>IPD</b></h4>


                            <div class="p-20">
                                <table class="table table-striped m-0">

                                    <thead>
                                        <tr>
                                            <th>Channel</th>
                                            <th>Pt. Count</th>
                                            <th>Revenue(M)</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Total</th>
                                            <th>@ViewBag.payorCountLMIPD </th>
                                            <th>@ViewBag.revSumLMIPD</th>
                                        </tr>
                                    </tfoot>

                                    <tbody>
                                        @{
                                            //To make unique Id
                                            int k = 0;
                                            foreach (var item in Model.PayorReportLMIPD)
                                            {
                                        <tr>
                                            <td scope="row">@item.PayorNameLMIPD</td>
                                            <td>@item.PayorCountLMIPD</td>
                                            <td>@item.RevenueLMIPD</td>
                                            @*<td>@item.Revenue</td>*@
                                        </tr>
                                                k++;
                                            }
                                        }
                                    </tbody>

                                </table>
                            </div>

                        </div>

                        <div class="col-lg-6">
                            <h4 class="m-t-0 header-title" style="text-align:center"><b>OPD</b></h4>
                            <div class="p-20">
                                <table class="table table-striped m-0">
                                    <thead>
                                        <tr>
                                            <th>Channel</th>
                                            <th>Pt. Count</th>
                                            <th>Revenue(M) </th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Total</th>
                                            <th>@ViewBag.payorCountLMOPD </th>
                                            <th>@ViewBag.revSumLMOPD </th>

                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @{
                                            //To make unique Id
                                            int l = 0;
                                            foreach (var item in Model.PayorReportLMOPD)
                                            {

                                        <tr>
                                            <td scope="row">@item.PayorNameLMOPD</td>
                                            <td>@item.PayorCountLMOPD</td>
                                            <td>@item.RevenueLMOPD</td>
                                            @*<td>@item.Revenue</td>*@
                                        </tr>
                                                l++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </fieldset>
                </div>

            </fieldset>
        </div>
    </div>
    </div>
    <script type="text/javascript">

        $(function () {
            $('#start').val(formatDate("dd-mm-yy", new Date()));
            $('#end').val($.datepicker.formatDate("dd-mm-yy", new Date()));
        });
    </script>
